.section h1 {
  font-size: 3em;
  color: #fff;
  font-weight: 700;
}

/* .photo {
  width: 500px;
}

.photo-test {
  text-align: left;
} */

.center {
  text-align: center;
}

.section {
  padding-left: 30%;
  padding-right: 30%;
  text-align: justify;
}

.section h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 700;
}

/* .fp-section {
  text-align: center;
} */

.row {
  float: left;
  width: 100%;
}

.col {
  width: 50%;
  float: left;
}